
.RightCol{

    border: 1px solid green;
    grid-area: rightCol;
    background: linear-gradient(to left, papayawhip, #ffffffc8); 

    display: grid;

    grid-template-columns: auto 180px;
  }
  

    