
.RightCol{

    border: 1px solid green;
    grid-area: rightCol;
    background: linear-gradient(to left, papayawhip, #ffffffc8); 
  }
  

  
.rightcoltemp{
    _border: 1px solid red;
    margin: 15px;
    padding: 2px 0px;
    font-size: 0.9em;
    }
    
    