

.LeftCol{

    border: 1px solid blue;
    grid-area: leftCol;
    _background-color: papayawhip;
    background: linear-gradient(to right, papayawhip, #ffffffc8); 
  }
  

  
.leftcoltemp{
  _border: 1px solid red;
  margin: 15px;
  padding: 2px 0px;
  font-size: 0.9em;
  }
  
  