
.TopMenu{
  
    border: 1px solid red;
    grid-area: topMenu;
    background-color: papayawhip;

    text-align: right;
    padding-right: 10px;



    display: grid;

    grid-template-columns:  repeat(5, max-content);

    /*_grid-auto-flow: row  ??? ; */
    justify-content: right;
    
    
  }
  
  .TopMenu  div{
  
    padding: 0px 5px;
 
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;

   
	display: grid;
align-items: center;
  }
  
    
  .TopMenu  div:hover{
    background-color: #fbe2b8;
  
}


.TopMenu a{
    text-decoration: none;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    _position: relative;
	
	_padding: auto 0px;
	_border: 1px solid red;
	
	
	
    }

    
	
	
	
	
	
	
	
	
	
	
	
	
	